
/* NAME POINT AND ADD BUTTON */


div.addNew{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

div.addNew input{
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
}

div.addNew button#addBtn{
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
}

div.addNew input#name{
    width: 64%;
}

div.addNew input#point{
    width: 16%;
}

div.addNew #addBtn{
    background-color: rgb(255, 187, 0);
}

div.addNew #addBtn:hover{
    background-color: rgb(255, 153, 0);
    color: white;
}




/* TABLE */

.table {
    width: 40%;
}

.table th:nth-child(2){
    width: 60%;
}

.table th:last-child{
    width: 15%;
}

.table td,th{
    border: 2px solid white;
}

.table tbody td:last-child{
    width: 10%;
}

.table tbody td:last-child div{
    text-align: center;
}

.table td div.edit button{
    border: none;
}

.table .pointV{
    text-align: center;
}


/* TABLE FOOT */

.table tfoot{
    background-color: rgb(224, 224, 224);
}

.table tfoot td:first-child{
    text-align: right;
}

.table tfoot td:nth-child(2){
    text-align: center;
}

/* UPDATE BUTTONS */
#updateName, #updatePoint{
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid gray;
}

#updatePoint{
    width: 50%;
}





