
.table {
    width: 40%;
}

.table th:nth-child(2){
    width: 50%;
}

.table td,th{
    border: 2px solid white;
}

.table tbody td:last-child{
    width: 10%;
}

.table tbody td:last-child div{
    text-align: center;
}

.table td div.edit button{
    border: none;
}






div.addNew{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

div.addNew input{
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
}

div.addNew button#addBtn{
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
}

div.addNew input#name{
    width: 60%;
}

div.addNew input#point{
    width: 20%;
}


